<div style="padding: 20px;">
  <!-- <h1>SQL Query Runner</h1>
  <textarea [(ngModel)]="query" rows="4" cols="60"></textarea>
  <br />
  <button (click)="run()">Run Query</button>
  <div *ngIf="error" style="color: red;">Error: {{ error }}</div>
  <table *ngIf="results.length">
    <thead>
      <tr>
        <th *ngFor="let key of results[0] | keyvalue">{{ key.key }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of results">
        <td *ngFor="let val of row | keyvalue">{{ val.value }}</td>
      </tr>
    </tbody>
  </table> -->
  <app-card></app-card>
</div>
